body{
	background-color: black;
}

#mainNavbar .navbar-brand{
    color: #f20761;
    padding-top: 10px;
}
#mainNavbar{
    font-size: 3.0 rem;
    font-weight: 100;
    background-color: #5c5b5b;
}
#mainNavbar .nav-link{
    color: white;
    float: right;
}
#mainNavbar .nav-link:hover{
    color: #f20761;
}

.img-fluid{
	border-radius: 50%;
	width: 80%;
}
.container{
	margin-top: 150px;
}

.row{
	color: white;
}

.name{
	padding-bottom: 5px;
	color: #f20761;
}

.jumbotron{
	border-radius: 80px;
	background-color: #5c5b5b;
}

#contact{
	color: white;
}

#contact:hover{
	color: black;
}

.fa{
	color: white;
}
.fa:hover{
	color: black;
}

.text{
	color: #f20761;
	font-size: 40px;
	text-align: center;
}

i{
	padding-left: 20px;
}